@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris volutpat risus id nibh hendrerit, sed pellentesque augue rutrum. Pellentesque faucibus neque vitae justo aliquam, et tempor diam laoreet. Maecenas a neque magna. Aenean vel mi ornare massa consequat gravida eget ut lorem. Cras tristique commodo dictum. Nunc diam risus, dictum ac pharetra ut, tincidunt ut turpis. Vivamus vitae odio tortor. Ut volutpat, quam gravida cursus suscipit, dolor turpis ullamcorper orci, vel fermentum sapien diam ultricies orci. Donec sit amet libero dui. Vestibulum malesuada mauris vitae semper ultricies. Nulla magna mauris, imperdiet ultrices nisi sit amet, ullamcorper bibendum tellus. Etiam elementum mi non dolor molestie, sit amet facilisis ante venenatis. In vulputate quam ut commodo blandit.</p>
<p>Nulla euismod nisi sit amet eros lacinia, a fringilla diam facilisis. Praesent vestibulum diam et tellus mattis semper at a tellus. Suspendisse ut libero dui. Integer aliquam pulvinar mi, quis condimentum sapien lobortis sed. Etiam aliquam at sem eu placerat. Sed eget mi ipsum. Maecenas tincidunt porta magna. Duis gravida lacinia urna, eu feugiat purus efficitur non. Duis at eros ac ante interdum finibus. Etiam ultrices fringilla nulla, vel egestas metus eleifend et. Nam dapibus egestas urna non tempus.</p>
